# Replace with Artus backend URL
BACKEND_URL=http://localhost:3000/api

# Replace with your machine ID (can be any unique identifier for this worker)
MACHINE_ID=my-cool-username-123

# Replace with the path of your project
PROJECT_PATH=/home/ubuntu/safe-workspace
