# Replace with Artus backend URL
BACKEND_URL=http://localhost:3000/

# Replace with your machine ID (can be any unique identifier for this worker)
MACHINE_ID=ashutosh44ks-artus

# Replace with the path of your project
PROJECT_PATH=/home/ubuntu/artus-frontend
